@use 'src/scss/colors';

.video-card__thumbnail {
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  background-color: colors.$grey-50;
}

.channel-logo {
  aspect-ratio: 1/1;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  background-color: colors.$grey-50;
}
