@use 'colors';

.channel-container {
    p {
        margin: 0;
    }
}

.banner {
    height: calc(16.1290322581vw - 1px);
    background-color: colors.$primary;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.user-logo--sm {
    width: 38px;
    height: 38px;
}

.channel-logo {
    background-color: red;
}

.channel-logo--lg {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: black;
}

.channel-logo--md {
    min-height: 40px;
    min-width: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 20px;
    background-color: black;
}

.channel-logo--xl {
    min-height: 120px;
    min-width: 120px;
    max-width: 120px;
    max-height: 120px;
}

.tab-channel {
    color: colors.$light;
    position: relative;
    padding: 0px 30px;
    padding-bottom: 10px;
}


.tab-channel.active {
    color: black;
}

.tab-channel.active::before {
    content: "";
    height: 2px;
    background-color: colors.$light;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
