@use 'colors';

$width-flex: calc((100vh - (56px + 24px + 136px))* (16/9));
$min-width-flex: 640px;

.watch {
    max-width: 1754px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.watch-section-1 {
    width: $width-flex;
    min-width: $min-width-flex;
}

.watch-video {
    min-height: 360px;
    min-width: 640px;
    max-width: $width-flex;
    height: calc(100vh - (56px + 24px + 136px));
}


.watch-videolist {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.channel-logo--m {
    min-height: 48px;
    min-width: 48px;
    max-width: 48px;
    max-height: 48px;
    border-radius: 24px;
    background-color: black;
}

.channel-subscriberscount--m {
    font-size: 0.8rem;
    color: colors.$light;
    margin: 0;
}

.channel-name {
    font-weight: 500;
    margin: 0;
    text-decoration: none;
    color: black;
}

.channel-name:hover {
    color: colors.$secondary;
}

.video-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
